<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>New starport</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#" ui-sref="home">Home</a>
            </li>
            <li class="active">
                Trade
            </li>
            <li class="active">
                <strong>New starport</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Create new Starport</h5>

            <div ibox-tools></div>  
        </div>
        <div class="ibox-content">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Starport</label>

                    <div class="col-lg-10">
                        <input type="text" placeholder="Name of the Starport" ng-model="starport.name" autofocus required class="form-control m-b">
                        <span class="help-block m-b-none">Enter the name for the starport</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Solar System</label>

                    <div class="col-lg-10">
                        <input type="text" placeholder="Name of the Solar System" ng-model="starport.system" required class="form-control m-b">
                        <span class="help-block m-b-none">Enter the name solar system</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Economy</label>

                    <div class="col-lg-10">
                        <select class="form-control m-b" ng-model="starport.economy" required ng-options="economy.Name as economy.Name for economy in economies"></select>
                        <span class="help-block m-b-none">Select the type of economy in this system</span>
                    </div>
                </div>

                <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'" class="text-left validation-summary" ng-cloak ng-bind-html="message">

                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-sm btn-primary" ng-click="Create()">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>