<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">edtl</h1>

        </div>
        <h3>Welcome to Elite: Dangerous Trading Ledger</h3>
        <p>Login in to be able to enter your trading transactions.</p>
        <form class="m-t" role="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="username" data-ng-model="loginData.userName" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required autofocus>
            </div>
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" data-ng-click="login()">Login</button>

            <!--<a href="#"><small>Forgot password?</small></a>-->
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="#">Create an account</a>
        </form>
        <!--<p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>-->
    </div>
</div>