<div class="row border-bottom" ng-controller="navBarController">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-right">
            <li data-ng-hide="!authentication.isAuth" ng-cloak>
                <span class="m-r-sm text-muted welcome-message">Welcome {{authentication.userName}}</span>
            </li>

            <li>
                <a href="#" ui-sref="account.login" data-ng-hide="authentication.isAuth">
                    <i class="fa fa-sign-in"></i> Log in
                </a>
            </li>

            <li>
                <a href="#" ng-click="logout()" data-ng-hide="!authentication.isAuth">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>

    </nav>
</div>