<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>New Starport</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#" ui-sref="home">Home</a>
            </li>
            <li class="active">
                Trade
            </li>
            <li class="active">
                <strong>New Solar System</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Create new Solar system</h5>

            <div ibox-tools></div>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal">
                <p>Create a new solar system and starport with the commodities that are traded here</p>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Solar System</label>

                    <div class="col-lg-10">
                        <input type="text" placeholder="Name of the Solar System" required autofocus class="form-control"> <span class="help-block m-b-none">Enter the name solar system</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Economy</label>

                    <div class="col-lg-10">
                        <select class="form-control m-b" name="account" ng-model="selectedEconomy" required ng-options="economy as economy.Name for economy in economies"></select>
                        <span class="help-block m-b-none">Select the type of economy in this system</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Starport</label>

                    <div class="col-lg-10">
                        <input type="text" placeholder="Name of the Starport" required class="form-control"> <span class="help-block m-b-none">Enter the name for the starport</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-sm btn-primary" type="submit">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>