<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>New starport</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#" ui-sref="home">Home</a>
            </li>
            <li class="active">
                Trade
            </li>
            <li class="active">
                Routes
            </li>
            <li class="active">
                <strong>Destinations</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Trade routes for {{orgin.name}} in {{orgin.system}}</h5>
                </div>
                <div class="ibox-content">
                    
                </div>
            </div>
        </div>
    </div>
</div>